.google-button {
  color: white !important;
  background-color: #dd4b39 !important;
  width: 100%;
  transition: brightness 0.15s ease-in-out;
}

.fb-button {
  color: white !important;
  background-color: #3b5998 !important;
  width: 100%;
  transition: brightness 0.15s ease-in-out;
}

.google-button:hover,
.fb-button:hover {
  filter: brightness(90%);
}

.coin-li {
  border: 1px solid #bced91;
  border-left: 10px solid #bced91;
  border-radius: 0px;
  background: #fafafa;
  margin: 5px;
  padding: 5px 10px;
  font-size: .65rem;
}

.coin-li:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.remove-icon {
    float: right;
    opacity: 80%;
}

.remove-icon:hover {
    opacity: 1;
}

.coin-info-loading {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fafafa;
  opacity: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggestions{
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  
}

.suggestion{
  cursor:pointer;
  padding-left: 5px;
}

.suggestion:hover{
  background-color: silver;
}

.add-button {
  z-index: 1020;
}

.add-button-loading {
  z-index: 1020;
  opacity: 1 !important;
  background-color: #72A68E !important;
  border-color: #5A987B !important;
}