.google-button {
  color: white !important;
  background-color: #dd4b39 !important;
  width: 100%;
  transition: brightness 0.15s ease-in-out;
}

.fb-button {
  color: white !important;
  background-color: #3b5998 !important;
  width: 100%;
  transition: brightness 0.15s ease-in-out;
}

.google-button:hover,
.fb-button:hover {
  filter: brightness(90%);
}
