.w-8 {
  width: 0.5em;
}

.h-8 {
  height: 0.5em;
}

.w-16 {
  width: 1em;
}

.w-32 {
  width: 2em;
}

.min-w-fit {
  min-width: fit-content;
}

.h-16 {
  height: 1em;
}

.h-32 {
  height: 2em;
}

.m-px {
  margin: 1px;
}

.font-bold {
  font-weight: 700;
}

.border-grey {
  border-color: #ccc !important;
}

.opacity-85 {
  opacity: 0.85 !important;
}
